<!DOCTYPE html>
<html lang="it-IT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Botor</title>
    <link rel="icon" type="image/x-icon" href="../static/images/fav.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="../static/view-mode.js"></script>
</head>
<body class="dark-mode" onload="checkTheme();">
    <header class="header">
        <ul>
            <div class="left-side-navigation-bar">
                <div class="upload-container">
                    <label for="file-upload" class="file-upload-button" id="file-upload-label">Upload File</label>
                    <input type="file" id="file-upload" class="file-upload-input">
                    <span id="file-icon-upload" class="material-symbols-outlined">description</span>
                    <span id="file-icon" class="pdf-icon"></span>
                    <span id="remove-file" style="display: none; cursor: pointer;">&#10006;</span>
                </div>
                <li id="info-tab"><a>Chi sono</a></li>
            </div>
            <div class="title">Botor</div>
            <div class="right-side-navigation-bar">
                <li><a id="mode" href="#home" onclick="toggleMode()">
                    <span id="dark-mode" class="material-symbols-outlined" style="display: none;">
                        dark_mode
                    </span>
                    <span id="light-mode" class="material-symbols-outlined">
                        light_mode
                    </span>
                </a></li>
            </div>
          </ul>
    </header>
    <div id="chatbot" class="chatbot dark-mode">
        <div class="chat-box" id="chatBox">
            <div class="answer-side">
                <span class="answer-text">Hi! My name is Botor and i will answer to all your question.</span>
            </div>
        </div>
        <div class="input-container">
            <input class="chat-input dark-mode" type="text" id="userInput" name="userInput" placeholder="Insert here your question" onkeypress="handleKeyPress(event)" autocomplete="off" autofocus>
            <button class="button" id="button-send" onclick="sendMessage()">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
        </div>        
    </div>
    <div id="info-modal" class="modal">
        <div id="modal-id" class="modal-content dark-mode">
            <div class="upper-section">
                <div class="empyt-container"></div>
                <h2 class="title-list-info">Chi sono</h2>
                <span class="close">&times;</span>
            </div>
            <ul id="info-list">
                <li>
                    Ciao!<br><br>
                    Sono <span class="green-text">Botor</span>, il tuo assistente medico!
                    Prova a chiedermi qualsiasi cosa inerente al <span class="green-text">settore sanitario</span> e io proverò ad aiutarti.
                    In alto a sinistra trovi un pulsante per caricare file in formato <span class="green-text">PDF</span>, prova ad inserire
                    un documento e fammi domande relative ad esso!
                    <br>
                    Ricorda, sono un assistente medico, qualsiasi domanda non inerente a questo settore non verrà risposta!

                    <div class="line-green"></div>

                    Hello!<br><br>
                    I'm <span class="green-text">Botor</span>, your medical assistant!
                    Try asking me anything related to the <span class="green-text">healthcare field</span> and I will try to help you.
                    At the top left you will find a button to upload files in <span class="green-text">PDF</span> format, try inserting
                    a document and ask me questions related to it!
                    <br>
                    Remember, I am a medical assistant, any questions not related to this field will not be answered!
                </li>
            </ul>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
